{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta
        comisión:="24309"
        grupo:="19"
        integrantes:="Martín, Martín, Cristian, Damian, G Briceño" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="shortcut icon" href="{% static 'web/img/iconoColor.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'web/css/base.css' %}" />
    {% block extra_css_js %}{% endblock %}
</head>
<body>
<!-- HEADER -->
<header class="w100">
    <section class="contenedorHeader">
      <div id="logo">
        <a href="{% url 'index' %}">
          <img src="{% static 'web/img/logo.svg' %}" />
        </a>
      </div>
      <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'somos' %}">Quienes Somos</a></li>
            <li><a href="{% url 'canchas' %}">Canchas</a></li>
            <li><a href="{% url 'ventaCustom' %}">Personalizá tu Cancha</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
        <!-- Ocultando botón si no está logueado  -->
        <ul id="barraLogin">
          {% if user.is_authenticated %}
          <li>
            <p>Bienvenid@ {{user.username}}</p>
          </li>
          <li>
            <a class="boton" href="{% url 'logout' %}">Cerrar Sesión</a>
          </li>
          {% else %}
          <li>
              <a class="boton botonDos" href="{% url 'login' %}">Crear Cuenta</a>
          </li>
          <li>
            <a class="boton" href="{% url 'login' %}">Iniciar Sesión</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </section>
  </header>

  {% if messages %}
    <ul id="alertas">
      {% for message in messages %}
        {% if message.tags %}
        <li class="{{message.tags}}">
          <p>{{ message }}</p>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% block principal %}{% endblock %}

  <!-- FOOTER -->
  <footer>
      <div class="contenedor">
        <img src="{% static 'web/img/logo.svg' %}" alt="logo" class="logo">
        <h4 class="cta">Seguínos en las redes sociales</h4>
          <div class="redes">
              <ul>
                  <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
              </ul>     
          </div>
      </div>
      <div class="copyright">
          <p>© 2024 Canchas Cancheras</p>
          <p><a href="#terminos">Terminos y Condiciones</a> | <a href="#politicas">Políticas de Privacidad</a></p>
      </div>
  </footer>
</body>
</html>