{% extends "web/base.html" %}
{% load static %}
{% block titulo %}CAMBIAR CLAVE » Canchas Cancheras{% endblock %}
{% block extra_css_js %}
  <link rel="stylesheet" href="{% static 'web/css/cambiar_clave.css' %}">
{% endblock %}

{% block principal %}
<main id="login">
  <article class="contenedor">    
    <h1>Cambiar clave</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Enviar Instrucciones de Restablecimiento</button>
    </form>
  </article>
</main>
{% endblock %}