{% extends 'base.html' %}

{% block titulo %}Enviar Sugerencia{% endblock %}

{% block principal %}
<div class="container my-5">
    <h1>Envía tu Sugerencia</h1>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% if field.errors %}
                    <p>{{ field.label }}: {{ field.errors|striptags }}</p>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <br>
        <div class="form-group">
            {{ form.nombre.label }}
            {{ form.nombre }}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.sugerencia.label }}
            {{ form.sugerencia }}
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}
