{% extends "web/base.html" %}
{% load static %}
{% block titulo %}ACCESO AL SISTEMA » Canchas Cancheras{% endblock %}
{% block extra_css_js %}
  <link rel="stylesheet" href="{% static 'web/css/login.css' %}">
{% endblock %}

{% block principal %}
<main id="login">
  <article class="contenedor">    
    <h1>Acceso a Clientes</h1>

    {% if form.errors %}
    <p>* Tu nombre de usuario y contraseña no coinciden. Intentalo de nuevo.</p>
    {% endif %}
    
    {% if next %}
        {% if user.is_authenticated %}
        <p>* Tu cuenta no tiene acceso a esta página. Iniciá sesión con una cuenta que tenga permisos de acceso.</p>
        {% else %}
        <p>* Iniciá sesión para ver esta página.</p>
        {% endif %}
    {% endif %}

    <form id="formularioLogin" class="w40 column"
      method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div>
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div>
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>
      <div id="recordarme">
        <input type="checkbox" value="recordarme">
        <label>Recordarme</label>
      </div>
      <button class="boton">
        <input type="submit" value="Enviar">
        <input type="hidden" name="next" value="{{ next }}">
      </button>
    </form>

    <p id="ayudaForm">¿Olvidaste tu clave? Hacé click <a href="{% url 'password_reset' %}"><b>acá</b></a></p>
  
  </article>
</main>
{% endblock %}