{% extends "web/base.html" %}
{% load static %}
{% block titulo %}ACCESO AL SISTEMA » Canchas Cancheras{% endblock %}
{% block extra_css_js %}
  <link rel="stylesheet" href="{% static 'web/css/login.css' %}">
{% endblock %}

{% block principal %}
<main id="login">
  <article class="contenedor">    
    <h1>Acceso a Clientes</h1>
    <form id="formularioLogin" class="w50" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {{ formulario_login.as_p }}
      <div id="recordarme">
        <input type="checkbox" name="remember_me" id="remember_me">
        <label for="remember_me">Recordarme</label>
      </div>
      <button class="boton" type="submit">Ingresar</button>
    </form>
    <p id="ayudaForm">¿Olvidaste tu clave? Hacé click <a href="#">acá</a></p>
  </article>
</main>
{% endblock %}
