{% extends "web/base.html" %}
{% load static %}
{% block titulo %}CREAR CUENTA » Canchas Cancheras{% endblock %}
{% block extra_css_js %}
  <link rel="stylesheet" href="{% static 'web/css/registro.css' %}">
{% endblock %}

{% block principal %}
<main id="registroUsuario">
  <article class="contenedor">
    <h1><i class="fa-regular fa-futbol"></i> Registrate en Canchas Cancheras</h1>
    <div class="row">
      <form id="formularioRegistro" class="w50" method="post">
        {% csrf_token %}
        {{ formulario_registro }}
        <button type="submit" class="boton">Registrarme</button>
      </form>
    </div>    
  </article>
</main>
{% endblock %}
