{% extends "web/base.html" %}
{% load static %}
{% block titulo %}QUIENES SOMOS » Canchas Cancheras{% endblock %}
{% block extra_css_js %}
  <link rel="stylesheet" href="{% static 'web/css/somos.css' %}">
{% endblock %}

{% block principal %}
<main id="somos">
  <section class="contenedor">
    <img class="mobileImg" src="{% static '/web/img/somos.png' %}" alt="Quienes Sooms - Canchas Cancheras">
    <article>
      <h1>Quiénes somos</h1>
      <p>En Canchas Cancheras, nos especializamos en la construcción de canchas
        para una amplia variedad de deportes. Con años de experiencia y un
        compromiso inquebrantable con la calidad, hemos establecido nuestra
        reputación como líderes en el sector. Desde canchas de fútbol hasta
        instalaciones de tenis, pádel, rugby y cualquier otro deporte que
        requiera una cancha, nuestro equipo de expertos se dedica a diseñar y
        construir espacios que superen las expectativas de nuestros clientes.
        <br><br>
        Nuestro enfoque integral nos permite ofrecer soluciones personalizadas,
        adaptadas a las necesidades específicas de cada proyecto. Utilizamos los
        mejores materiales y las técnicas más avanzadas para garantizar que cada
        cancha construida por nosotros sea duradera, segura y de alto rendimiento.
        Ya sea que se trate de una cancha para un club deportivo, una escuela o una
        instalación recreativa, nuestro objetivo es siempre el mismo: crear un espacio
        donde los atletas puedan rendir al máximo y disfrutar de su deporte favorito.
      <br><br>
        En Canchas Cancheras, valoramos la importancia del deporte en la comunidad
        y trabajamos arduamente para fomentar su desarrollo a través de nuestras
        canchas de alta calidad. Creemos que un buen juego comienza con una buena
        cancha, y es por eso que nos esforzamos en cada proyecto para entregar
        resultados excepcionales. Nuestra dedicación al detalle y al servicio al
        cliente nos distingue en la industria, y estamos orgullosos de ser el socio
        de confianza para la construcción de canchas deportivas.
      <br><br>
      <p>
        En <strong>Canchas Cancheras</strong>, estamos muy contentos de disfrutar cada
        partido que se arma en nuestras canchas. Por eso queremos decirte...
      </p> 
      <p>¡Gracias por confiar en nosotros!</p>
    </article>


  </section>
</main>
{% endblock %}