#reservas {
  background:linear-gradient(120deg, #184d99, #e90066);
  position: relative;
  color:#dce5eb;
  padding:80px 0 0 0;
}
#reservas:before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-image:url("../img/lineas.svg");
  mix-blend-mode:multiply;
  background-size:cover;
  background-repeat:no-repeat;
  transition:.5s ease-in;
  background-attachment: fixed;
}
#reservas h1 {
  color:#fafafa;
  font-size:2em;
  text-transform: uppercase;
}
#reservas .contenedor > .row {
  gap:40px !important;
}
#reservas .row, #reservas .row .w100 .w50 {
  gap:10px !important;
}

#formularioReservas {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:fit-content;
  gap:20px !important;
}
#formularioReservas div:has(input),
#formularioReservas div:has(select) {
  margin:0;
  padding:0;
  width:48%;
  height:40px;
}
#formularioReservas div input {
  width: 90%;
  padding:5%;
}
#formularioReservas div select {
  width:100%;
  padding:5%;
}
#formularioReservas div label {
  display:none;
}
#formularioReservas .boton {
  font-size:1.2em;
  width: 100%;
}
#formularioReservas .boton a {
  color:#fafafa;
}

.listaCanchas {
  flex-direction: column;
}
